<!DOCTYPE html>
<html>
<head>
    <title>Realtime Markdown Viewer</title>
    <link rel="stylesheet" href="home.css">
    <link type="image" href="../public/edit.png">
</head>

<body>
    <div class='top'></div>
    <div class='text'>
        <h1>Marker.io<br></h1>
        <h3>Edit Markdowns on the Go</h3>
        <div class="input-group">
            <input type="name" class="input" id="name" name="name" placeholder="Enter the URL..." autocomplete="off">
            <a id="link"><input class="button--submit" value="Enter" id="button" type="submit"></a>
        </div>
    </div>
    <script src="home.js"></script>
</body>
</html>