@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
	background: #222;
	padding: 0;
	margin: 0;
  overflow: hidden;
}

.top {
	position: relative;
	height: 10px;
	background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 4vw;
  font-weight: 300;
    text-transform: uppercase;
    margin-bottom:0;
}

h3 {
    font-family: sans-serif;
    color: lightslategray;
    /* font-size: 4vw;
    font-weight: 300; */
    text-transform: uppercase;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  height: 100vh;
}

/* Input Field*/ 
.input-group {
    display: flex;
    align-items: center;
}
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  