html, body, section, .full-height {
    height: 100%;
}

.header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    justify-items:center;
    flex: 1;
    padding-top: 0.5rem;
    display: flex;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}

p{
    color:#ffffff;
    margin-left:10px;
    font-family:monospace;
    font-weight:bold;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    overflow: auto;
    background-color: #1e1e1e; 
    color: #ffffff;           
    border: 1px solid #555;   
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 15px;
    height: 100%;
    resize: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.1); 
    caret-color: ivory;
}

#markdown {
    overflow: auto;
    background-color: #1e1e1e; 
    color: #ffffff;           
    border: 1px solid #555;   
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 15px;
    height: 100%;
    resize: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.1); 
    caret-color: ivory;
    border-left: 5px solid gray;
}